#d{
    background-color: rgb(54, 123, 100);
    color:rgb(192, 123, 13);
}
#dt{
    background-color: rgb(161, 54, 207);
    color:rgb(16, 172, 120);
}
#thead{
    background:violet ;
color:black;
}